@font-face {
  font-family: "FFShamelSansBold";
  src: url("./ArbFONTS-FFShamelFamily-SansOneBold.ttf") format("truetype");
}

@font-face {
  font-family: "FFShamelNormal";
  src: url("./FFShamelFamily-NormalUnique%202.ttf") format("truetype");
}

@font-face {
  font-family: "FFShamelMedium";
  src: url("./FFShamelFamily-MediumUnique%202.ttf") format("truetype");
}

@font-face {
  font-family: "FFShamelLight";
  src: url("./FFShamelFamily-LightUnique%202.ttf") format("truetype");
}

@font-face {
  font-family: "CoHeadlineBold";
  src: url("./Co%20Headline%20W01%20Bold%205.otf") format("opentype");
}

@font-face {
  font-family: "CoHeadlineRegular";
  src: url("./Co%20Headline%20W01%20Regular%203.ttf") format("truetype");
}

@font-face {
  font-family: "CoHeadlineLight";
  src: url("./Co%20Headline%20W01%20Light%205.otf") format("opentype");
}
